<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251155332168-a8q6gimkhip1k6a2h50lv08imu1eelpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251155332168-a8q6gimkhip1k6a2h50lv08imu1eelpa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>251155332168-79m4mf2c2amifbrc43hh9obsjju1vt34.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCjhcZhz-baolpeHZHBr1KX-8EYqswNhc</string>
	<key>GCM_SENDER_ID</key>
	<string>251155332168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>amadoctorsdigitalsystem.fiberclinic</string>
	<key>PROJECT_ID</key>
	<string>doctor-1e9ca</string>
	<key>STORAGE_BUCKET</key>
	<string>doctor-1e9ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251155332168:ios:bbdc55b36afdfffb7eac7d</string>
</dict>
</plist>